<!DOCTYPE html>
<html ng-app="app">
<head>
<title>Tasks</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="view/app.js"></script>
<style>
A {
	cursor: pointer;
	background-color: lightblue;
}
</style>
</head>
<body>
	<div ng-controller="TaskCRUDCtrl" ng-init="getAllTasks()">

		<table>
			<tr>
				<td width="100">ID:</td>
				<td><input type="text" id="id" ng-model="task.id" /></td>
			</tr>
			<tr>
				<td width="100">Name:</td>
				<td><input type="text" id="name" ng-model="task.name" /></td>
			</tr>
			<tr>
				<td width="100">Description:</td>
				<td><input type="text" id="description" ng-model="task.description" /></td>
			</tr>
		</table>

		<br />
		<br />
		<a ng-click="getTask(task.id)">Get Task</a>
		<a ng-click="updateTask(task.id,task.name,task.description)">Update Task</a>
		<a ng-click="addTask(task.name,task.description)">Add Task</a>
		<a ng-click="deleteTask(task.id)">Delete Task</a>
		<br />
		<br />
		<p style="color: green">{{message}}</p>
		<p style="color: red">{{errorMessage}}</p>
		<br />
		<br />
		<a ng-click="getAllTasks()">Get all Tasks</a>
		<br />
		<br />
		<br />
		<table>
			<thead>
				<tr>
					<td>Name:</td>
					<td>Description:</td>
					<td>Created:</td>
					<td>Completed:</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="task in tasks">
					<td>{{task.name}}</td>
					<td>{{task.description}}</td>
					<td>{{task.created}}</td>
					<td>{{task.completed}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>